<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/suo0miy.css">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Product App With Heroku</title>
</head>
<body>
    <h1 class="hidden">Dr Martens Leona Temperley Boot</h1>
    <header>
        <div>
            <h2>Dr.</h2>
            <h2>Martens</h2>
        </div>
        <img src="/public/images/drmarts-crop.jpg" alt="Two Leona Temperley Boots by Dr Martens">
    </header>
    <main>
        <h2 class="hidden">Main Content</h2>
        <div id="bodyHeader"> 
            <h2>Dr. Martens</h2>
            <h2>Leona Temperley Boot</h2>
        </div>
        <div id="bodyContent">
            <p>The Leona is packed with rugged features: a commando tread, an extra-empowering platform sole with a chunky heel, antiqued brass tunnel eyelets and a sleek silhouette. The result? A women's boot that strikes the perfect balance between femininity and the tough, rebellious Dr. Martens spirit.</p>

            <button>Read More</button>
        </div>
    </main>
    <footer>
        <p>Credit to Urban Outfitters for Dr Martens Images.<br>Credit to Joseph Chan on Unsplash for Hero Image.</p>
    </footer>
    
</body>
</html>