<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/vfq4yul.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <title>Product App With Heroku</title>
</head>
<body>
    <h1 class="visually-hidden" aria-hidden="true">Dr Martens 2976 Women's Leather Chelsea Boots</h1>
    <main>
        <h2>Dr. Martens</h2>
        <img src="../public/images/pair-front.webp" alt="A Dr Martens Leather Chelsea Boot photographed from the side">
        
        <span class="boot-title">2976 Women's Leather Chelsea Boots</span>
        <div>
            <span class="star"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270"><defs><style>.cls-1 {fill: #32423d;stroke-width: 0px;}</style></defs><g id="design"><path class="cls-1" d="M270,135c-120,8.28-126.72,15-135,135-8.28-120-15-126.72-135-135C120,126.72,126.72,120,135,0c8.28,120,15,126.72,135,135Z"/></g></svg></span>
            <span class="star"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270"><defs><style>.cls-1 {fill: #32423d;stroke-width: 0px;}</style></defs><g id="design"><path class="cls-1" d="M270,135c-120,8.28-126.72,15-135,135-8.28-120-15-126.72-135-135C120,126.72,126.72,120,135,0c8.28,120,15,126.72,135,135Z"/></g></svg></span>
            <span class="star"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270"><defs><style>.cls-1 {fill: #32423d;stroke-width: 0px;}</style></defs><g id="design"><path class="cls-1" d="M270,135c-120,8.28-126.72,15-135,135-8.28-120-15-126.72-135-135C120,126.72,126.72,120,135,0c8.28,120,15,126.72,135,135Z"/></g></svg></span>
            <span class="star"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 270"><defs><style>.cls-1 {fill: #32423d;stroke-width: 0px;}</style></defs><g id="design"><path class="cls-1" d="M270,135c-120,8.28-126.72,15-135,135-8.28-120-15-126.72-135-135C120,126.72,126.72,120,135,0c8.28,120,15,126.72,135,135Z"/></g></svg></span>
        </div>
        <div class="prod-info prod-info-details">
            <h3>Details</h3>
            <p>
                The classic 2976 Chelsea boot designed for an easier wear in. Constructed from fine-grain Virginia, a soft leather with little break-in required but the durability you can expect from DM’s. Built on an AirWair sole secured with our iconic yellow welt stitch. Finished with our easy-on elasticated gusset and scripted heel loop.
            </p>
        </div>
        <div class="prod-info prod-info-mats">
            <h3>Materials</h3>
            <p>
                Virginia - a soft, fine-grain leather that is treated to feel smooth and supple, our Virginia Leather is typically dyed, and is offered in a variety of bright colors.
            </p>
        </div>
        <div class="prod-info prod-info-care">
            <h3>Care</h3>
            <p>
                Wipe away dirt using a damp cloth. Apply Dr. Martens Wonder Balsam to the outside of your footwear to keep the leather supple, strong and smooth. Once dry, buff vigorously to desired shine using a clean Dr. Martens Shoe Brush. Repeat regularly to prolong the life of your footwear.
            </p>
        </div>
        <div class="prod-info prod-info-construction">
            <h3>Construction</h3>
            <p>
                Goodyear Welted - the upper and sole are heat-sealed and sewn together, providing more comfort and durability for years to come.
            </p>
        </div>
    </main>
    <footer>
        <p>Images and product information supplied by <a href="https://www.drmartens.com/ca/en_ca/2976-womens-leather-chelsea-boots-black/p/30698001">Dr Martens</a></p>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>